body {
  background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

.randomMealHeadline {
  display: 'flex';
  background-color: rgb(225, 240, 230);
  color: rgb(26, 26, 26);
  font-family: 'Sen', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 30px;
}

.headline {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(26, 26, 26);
  font-family: 'Sen', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 4.5);
}

.headlineStyle {
  color: rgb(26, 26, 26);
  font-family: 'Sen', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 30px;
}

.buttonsNavbar {
  font-family: 'Sen', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  color: 'white';
  margin-right: 2;
}
